<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/styles.css' />
  <title>Mercado Liebre</title>
</head>
<body>
  <!-- Header -->
  <header>
    <img src="/images/logo-mercado-liebre.svg" alt="Logo de la página">
    <form>
      Luego para poner barra de búsqueda
    </form>
    <div>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
      <ul id="group1">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
      </ul>
      <ul id="group2">
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
      </ul>
    </nav>
    <div class="banner">
      <img src="/images/img-home-banner.jpg" alt="Banner promocional">
    </div>   
  </header>
<!-- Header -->
  <main>
  <!-- Sección: Basado en tu última visita -->
  <section>
    <h2>Basado en tu última visita</h2>
    <div class="product">
      <img src="/images/cafetera.jpg" alt="Cafetera Moulinex">
      <p>$6.770</p>
      <p>40% OFF</p>
      <p>Cafetera Moulinex</p>
    </div>
    <div class="product">
      <img src="/images/macbook.jpg" alt="MacBook Pro 2019">
      <p>$230.000</p>
      <p>20% off</p>
      <p>MacBook Pro 2019</p>
    </div>
    <div class="product">
      <img src="/images/samsung-galaxy.jpg" alt="Samsung Galaxy S10">
      <p>$70.500</p>
      <p>10% off</p>
      <p>Samsung Galaxy S10</p>
    </div>
    <div class="product">
      <img src="/images/smarttv.jpg" alt="SmartTv Samsung 43&quot;">
      <p>$23.200</p>
      <p>5% off</p>
      <p>SmartTv Samsung 43"</p>
    </div>
  </section>

  <!-- Sección de Ofertas -->
  <section>
    <h2>Ofertas</h2>
    <div class="product">
      <img src="/images/cafetera.jpg" alt="Cafetera Moulinex">
      <p>$6.770</p>
      <p>40% off</p>
      <p>Cafetera Moulinex</p>
    </div>
    <div class="product">
      <img src="/images/macbook.jpg" alt="MacBook Pro 2019">
      <p>$230.000</p>
      <p>20% off</p>
      <p>MacBook Pro 2019</p>
    </div>
    <div class="product">
      <img src="/images/samsung-galaxy.jpg" alt="Samsung Galaxy S10">
      <p>$70.500</p>
      <p>10% off</p>
      <p>Samsung Galaxy S10</p>
    </div>
    <div class="product">
      <img src="/images/smarttv.jpg" alt="SmartTv Samsung 43&quot;">
      <p>$23.200</p>
      <p>5% off</p>
      <p>SmartTv Samsung 43"</p>
    </div>
  </section>
</main>

  </main>

  <!-- Footer -->
<footer>
  <section>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
  </section>
  <section>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
  </section>
  <section>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
  </section>
  <section>
    <p>&copy; 1999-2020 MercadoLiebre S.R.L.</p>
  </section>
</footer>

</body>
</html>