<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Mercado Liebre</title>
  </head>

  <body>
    <!-- Header -->
    <header>
      <img class="logo" src="/images/logo-mercado-liebre.svg"
        alt="Logo de la página">
      <form>
        <input type="text" placeholder="Buscar...">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
      <div class="payment-info">
        <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </p>
      </div>
      <nav class="header-nav">
        <ul>
          <li><a href="#"><i class="fa-solid fa-tags"></i> Ofertas</a></li>
          <li><a href="#"><i class="fa-solid fa-handshake"></i> Tiendas Oficiales</a></li>
          <li><a href="#"><i class="fa-solid fa-tag"></i> Vender</a></li>
          <li><a href="#"><i class="fa-solid fa-headset"></i> Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="#"><i class="fa-solid fa-user"></i> Creá tu cuenta</a></li>
          <li><a href="#"><i class="fa-solid fa-right-to-bracket"></i> Ingresá</a></li>
          <li><a href="#"><i class="fa-solid fa-basket-shopping"></i> Mis compras</a></li>
        </ul>
      </nav>
      <!-- Burger Menu -->
      <div class="burger-container">
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner promocional">
      </div>
    </header>
    <main>
      <!-- Sección: Basado en tu última visita -->
      <section>
        <h2>Basado en tu última visita</h2>
        <div class="product">
          <img src="/images/cafetera.jpg" alt="Cafetera Moulinex">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$6.770</p>
            <p class="discount">40% OFF</p>
            <p class="description">Cafetera Moulinex</p>
          </div>
        </div>
        <div class="product">
          <img src="/images/macbook.jpg" alt="MacBook Pro 2019">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <p class="description">MacBook Pro 2019</p>
          </div>
        </div>
        <div class="product">
          <img src="/images/samsung-galaxy.jpg" alt="Samsung Galaxy S10">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <p class="description">Samsung Galaxy S10</p>
          </div>
        </div>
        <div class="product">
          <img src="/images/smarttv.jpg" alt="SmartTv Samsung 43&quot;">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <p class="description">SmartTv Samsung 43"</p>
          </div>
        </div>
      </section>

      <!-- Sección de Ofertas -->
      <section>
        <h2>Ofertas</h2>
        <div class="product">
          <img src="/images/cafetera.jpg" alt="Cafetera Moulinex">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <p class="description">Cafetera Moulinex</p>
          </div>
        </div>
        <div class="product">
          <img src="/images/macbook.jpg" alt="MacBook Pro 2019">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <p class="description">MacBook Pro 2019</p>
          </div>
        </div>

        <div class="product">
          <img src="/images/samsung-galaxy.jpg" alt="Samsung Galaxy S10">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <p class="description">Samsung Galaxy S10</p>
          </div>
        </div>
        <div class="product">
          <img src="/images/smarttv.jpg" alt="SmartTv Samsung 43&quot;">
          <span class="circle-icon">
            <i class="fas fa-truck"></i>
          </span>
          <div class="product-details">
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <p class="description">SmartTv Samsung 43"</p>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <section>
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section>
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section>
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.</p>
      </section>
      <section>
        <p>&copy; 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>

  </body>

</html>