/* Estilos globales */


/* Estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores */
:root {
  --amarillo: #EAC926;
  --azul: #0044aa;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #828282;
  --verde: #39b54a;
}

/* fuente y tamaño predeterminados */
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/* enlaces */
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* títulos */
h1, h2, h3 {
  color: #333;
  font-weight: bold;
}

/* imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* diseño de caja comunes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #555;
}

ul{
  list-style-type: none;
}
